<!doctype html>
<head>
    <title>证券分析系统</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/static/node_modules/angular/angular.min.js"></script>
    <script src="/static/node_modules/highcharts/highcharts.js"></script>
    <script src="/static/node_modules/highcharts/modules/exporting.js"></script>
    <script src="/static/node_modules/highcharts-ng/dist/highcharts-ng.min.js"></script>

</head>

<body>
    <div class="container" ng-app="venus-app">
        <div ng-controller="indexCtrl">
        <h2>上证/深证 股票分析</h2>
            <form class="form-inline" >
                <div class="form-group">
                  <label class="sr-only" for="exampleInputAmount">股票代码/60xxxx/00xxxx</label>
                  <input type="text" class="form-control" ng-model="code" id="exampleInputAmount" placeholder="股票代码/60xxxx/00xxxx">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="search()" id="onSub">提交</button>
            </form>
            <highchart id="chart1" config="chartConfig" ng-show="chart_show"></highchart>
            </highchart>
        </div>
    </div>
    <script>
        var app = angular.module('venus-app', ["highcharts-ng"]);
        app.controller('indexCtrl', function($scope, $http) {
            $scope.chart_show = false;
            $scope.chartConfig = {};
            $scope.name = "平安银行";
            // 执行搜索分析
            $scope.search = function() {

                // 获取基本信息
                $http({
                    method: "GET",
                    url: "{{site}}/data/base/" + $scope.code
                }).then(function successCallback(response) {
                    var data = response.data;
                    $scope.name = data.name;
                }, function errorCallback(response) {
                    console.log(response);
                });

                // 获取K线图数据
                $http({
                    method: "GET",
                    url: "{{site}}/kchart/code/" + $scope.code
                }).then(function successCallback(response) {
                    $scope.chart_show = true;
                    var data = response.data;
                    $scope.chartConfig = {
                        chartType: "stock",
                        chart: {
                            // type: 'map',
                            height: 500,
                            width: 500
                        },
                        rangeSelector: {
                            selected: 2
                        },
                        title: {
                            text: $scope.name + "历史股价"
                        },
                        plotOptions: {
                            series: {
                                showInLegend: true
                            }
                        },
                        tooltip: {
                            split: false,
                            shared: true
                        },
                        series: [{
                            // type: 'line',
                            id: $scope.code,
                            name: $scope.name,
                            data: data
                        }]
                    };
                }, function errorCallback(response) {
			        // 请求失败执行代码
                    console.log(response);
	            });
            };
        });
    </script>
</body>
