<!doctype html>
<head>
    <title>证券分析系统</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <h2>上证/深证 股票分析</h2>
            <form class="form-inline">
                <div class="form-group">
                  <label class="sr-only" for="exampleInputAmount">股票代码/60xxxx/00xxxx</label>
                  <input type="text" class="form-control" id="exampleInputAmount" placeholder="股票代码/60xxxx/00xxxx">
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
    </div>
</body>